.wrapper {
  max-width: 550px;
  h1 {
    text-transform: uppercase;

    color: var(--bright-gray-color);
  }

  &Description {
    display: inline-block;

    margin-top: 10px;

    color: var(--lime-green-color);

    p {
      display: inline-block;

      margin-right: 10px;

      font-size: 18px;
      font-style: italic;
      color: #808080;
    }
  }
}
