.wrapper {
  &TechList {
    display: flex;
    flex-wrap: wrap;

    margin-top: 20px;
    margin-left: 30px;

    &Item {
      display: flex;

      margin: 5px 0;

      color: #607b96;

      &Input {
        appearance: none;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        border: 1px solid #607b96;

        cursor: pointer;
      }

      &Input:checked {
        appearance: auto;
        accent-color: #607b96;
        outline: none;

        ~ div {
          p:nth-child(1) {
            opacity: 1;
          }
          p:nth-child(2) {
            color: white;
          }
        }
      }
      &Name {
        display: flex;

        &Icon {
          margin-right: 10px;

          opacity: 0.5;

          svg {
            height: 24px;
            width: 24px;
          }
        }
      }
    }
  }
  &Projects {
    position: absolute;
    top: 210px;
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    margin-right: 10px;

    &Single {
      width: 370px;

      &Image {
        img {
          border-radius: 15px 15px 0 0;
        }
      }

      &Content {
        display: flex;
        flex-direction: column;

        margin-top: -4px;
        padding: 20px;
        border: var(--border);
        border-radius: 0 0 15px 15px;

        &Details {
          height: 60px;
        }

        &BottomBlock {
          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 100%;

          &Button {
            width: 129px;
            height: 38px;
            border: 0;
            border-radius: 8px;

            background-color: #1c2b3a;

            cursor: pointer;
            transition: border 0.3s, background-color 0.3s;

            a {
              color: var(--white-color);
            }
          }
          &Button:hover {
            border: var(--border);

            background-color: transparent;
          }

          &Tech {
            display: flex;

            list-style: none;

            li {
              margin-left: 5px;
              padding-top: 12px;

              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
