.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  height: calc(100vh - 20px);
  min-height: 820px;
  margin: 10px;
  border: var(--border);
  border-radius: 8px;

  background-color: var(--black-color);

  &Main {
    position: absolute;
    top: 56px;

    width: 100%;
    min-height: calc(820px - 114px);
    height: calc(100vh - 132px);
  }
}
