.wrapper {
  display: none;
  justify-content: flex-start;
  align-items: center;

  width: 35%;
  height: 100%;

  &Image {
    width: 300px;
    height: 300px;
    border-radius: 50%;

    background-image: url("https://lh3.googleusercontent.com/MKfD7B5yjxHGf0qXisqMTrz_w6OLd826u1HEI6sNJcFODbHEj9iFf1A2UA5Sc2mRupl_5lWA1pBh0QK5_Fjiq0c86gPiJxdFYsncW1xGM-5r9uBkdFk90MtNcb8-ef_Do6apPfrnkyPduJpsLB9YVaRuY8VlRzBVZn5R8LVw3KWwBJ3JYf4lUU5_QHIY4qspvHYHB8tuzgh_NXMYkd419-ILcGV1C7ot3pOfq6t2R467nUbGbMQmv5if7-JhVQZEfJtVJnVowIuZZVU6ven-8tooPrmgsj9PWsfWGhuCqQzLgxbpLVYMojFMIbn0XhN03Z3Ikz24ADfWebmQ3-4j6jfu_FSX1VaAMRMYrOl7ARSiJwilNsiY5SuesqUZrLw4sv8OakCTjACLaTnqB3kT5AX_7Jh9dErGc64_K5vicUjLcP9hKbbtso--v3DrqHbpW0BdS5VB8LTuCAFQB14arMuc9P1cezVHL2b8uqi2KA6LbZu57O3qqltbp8CcoVW1YLFgJTAHEK4GmCzmCHR1AQDtneaEF3nWsjUVPhR9OD_lzT6FkXqb8YtWJ8EsT0v02mB6k_CMIkWQYusKnaugMqvwnQ5mFxy2Ijq76vIdYbxRlTx5qdDJWN2iCumf1mzg6PJqS_Ssp61XLxOjgLfPiD_ypYHjSWfOaJ9EU24BZwlv7mBAa9oHT9PzR-eMLl0NqbrszEf_XwTr-dkSQovz9hGwvh7LFfv-ewmI8ZY5ENyMr9nF4bBtMsbigYfSq4rP0JfXSJBzBQ_XkPTc4WdiMgTComOB_xq42bAY7jk0hOXtTjq-aO7pCNsibrToG36AMj7Gpw-6wvOn5Fa56cuVcfiVd6wXscSvT5xkne8aW9xwL_PBaWjI2LvaflMitLGimV7OXzdYzGzTcMuyROrs6Q7WAdkPw3uEDe6u6wJWL_Jd5gul=s470-no?authuser=0");
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: cover;
  }
}
