@use "sass:map";
@import "./styles.module.scss";

@media only screen and (min-width: 350px) {
}
@media only screen and (min-width: 769px) {
}
@media only screen and (min-width: 1100px) {
  .wrapper {
    display: flex;

    min-width: 311px;
  }
}
