.wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 30px;

  &Box:nth-child(2),
  &Box:nth-child(3) {
    margin-top: 20px;
  }

  &Box {
    display: flex;
    margin: 0;
    flex-direction: column;

    label {
      color: var(--font-color-primary);
    }

    &Input {
      max-width: 371px;
      height: 42px;

      margin-top: 10px;
      padding-left: 20px;
      border-radius: 7px;
      border: var(--border);

      background-color: transparent;

      color: var(--white-color);
    }
    &Textarea {
      height: 120px;
      padding-top: 15px;

      resize: none;
    }
  }
  &Button {
    width: 129px;
    height: 38px;
    border: 0;
    margin-top: 20px;
    border-radius: 8px;

    background-color: #1c2b3a;

    color: var(--white-color);

    cursor: pointer;
    transition: border 0.3s, background-color 0.3s;
  }

  &Button:hover {
    border: var(--border);
    
    background-color: transparent;
  }
}
