.wrapper {
  position: absolute;
  top: 30%;

  width: 100%;
  margin: 0 auto;
  padding: 50px 3% 0 3%;
  border-top: var(--border);

  &FileName {
    &Submenu {
      display: inline-block;

      font-size: 14px;
      color: var(--font-color-primary);
    }
  }

  &Content {
    display: flex;

    margin-top: 3px;

    color: var(--font-color-primary);

    span {
      margin-right: 40px;
    }
  }
}
