:root {
  --max-width: 1100px;
  --border: 1px solid #1e2d3d;
  --font-color-primary: #607b96;
  --orange-color: #fea55f;
  --white-color: #ffffff;
  --bright-gray-color: #e5e9f0;
  --iris-color: #4d5bce;
  --blue-color: #81a1c1;
  --lime-green-color: #43d9ad;
  --soft-red: #e99287;
  --black-color: #000a13;
  --mobile-nav: #010f1b;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000305;

  font-family: "Fira Code", monospace;
  color: #fff;
}

a {
  color: var(--font-color-primary);
  text-decoration: none;

  transition: color 0.3s;
}

a:hover {
  color: var(--white-color);
}
